@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.password-generator {
    min-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    position: relative;

    @include mobile-styles {
        min-width: unset;
        width: 343px;

        margin-bottom: 2rem;
    }

    .password-generator__box,
    .password-generator__controls {
        background-color: $color-neutral-primary;
    }

    .password-generator__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.125rem 2rem;
        gap: 1rem;

        @include mobile-styles {
            min-width: unset;
            padding: 1rem;
        }

        .password-generator__generated-password-wrapper {
            flex-grow: 1;
            overflow-x: auto;
            white-space: nowrap;
        }

        .password-generator__generated-password {
            font-size: $font-size-heading-large;
            font-weight: $font-weight-bold;
            color: $color-neutral-tertiary;

            &.default {
                color: rgba($color-neutral-tertiary, $alpha: .25);
            }

            @include mobile-styles {
                font-size: $font-size-heading-medium;
            }
        }

        .password-generator__status {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            flex-shrink: 0;

            .password-generator__status-icon {
                cursor: pointer;
                transition: fill 200ms ease-in-out;
                fill: #A4FFAF;

                &:hover {
                    fill: $color-neutral-tertiary;
                }

                @include mobile-styles {
                    font-size: $font-size-heading-medium;

                }
            }

            .password-generator__status-text {
                font-size: $font-size-base;
                font-weight: $font-weight-bold;
                color: $color-primary;
                text-transform: uppercase;

                &.hidden {
                    display: none;
                }
            }
        }
    }


    .password-generator__controls {
        padding: 1rem 2rem 2rem;

        @include mobile-styles {
            padding: 1rem;
        }

        .password-generator__character-length {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: $font-weight-bold;
            margin-bottom: 2rem;

            @include mobile-styles {
                margin-bottom: 0.5rem;
            }

            .password-generator__character-length-label {
                font-size: $font-size-base;
                color: $color-neutral-tertiary;
            }

            .password-generator__character-length-number {
                color: $color-primary;
                font-size: $font-size-heading-large;

                @include mobile-styles {
                    font-size: $font-size-heading-medium;
                }
            }
        }

        .password-generator__range-input {
            margin-bottom: 2rem;

            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            cursor: pointer;
            outline: none;
            height: 0.5rem;
            background: $color-neutral-quaternary;

            /* Thumb: webkit */
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                height: 27px;
                width: 27px;
                border: 1px solid transparent;
                background-color: $color-neutral-tertiary;
                border-radius: 50%;
                transition: 0.2s ease-in-out;
            }

            /* Thumb: Firefox */
            &::-moz-range-thumb {
                height: 26px;
                width: 26px;
                border: 2px solid transparent;
                background-color: $color-neutral-tertiary;
                border-radius: 50%;
                transition: 0.2s ease-in-out;
            }

            /* Hover Thumb: Webkit */
            &:hover::-webkit-slider-thumb {
                background-color: $color-neutral-quaternary;
                border: 2px solid $color-primary;
            }

            /* Hover Thumb: Firefox */
            &:hover::-moz-range-thumb {
                background-color: $color-neutral-quaternary;
                border: 2px solid $color-primary;
            }
        }


        .password-generator__options {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.25rem;
            margin-bottom: 2rem;

            .password-generator__option {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                cursor: pointer;

                @include mobile-styles {
                    gap: 1.25rem;
                }

                .password-generator__label {
                    font-size: $font-size-base;
                    color: $color-neutral-tertiary;
                    text-transform: capitalize;
                    cursor: pointer;

                    @include mobile-styles {
                        font-size: $font-size-base;
                    }
                }

                .password-generator__checkbox {
                    appearance: none;
                    -webkit-appearance: none;
                    width: 18px;
                    height: 18px;
                    border: 2px solid $color-neutral-tertiary;
                    background-color: transparent;
                    outline: none;
                    cursor: pointer;
                    position: relative;
                }

                .password-generator__checkbox:checked {
                    background-color: $color-primary;
                    border-color: $color-primary;
                }

                .password-generator__checkbox:checked::before {
                    content: '';
                    display: block;
                    width: 14px;
                    height: 10px;
                    background-image: url(../../assets/images/icon-check.svg);
                    background-size: cover;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .password-generator__strength-status {
            background-color: $color-neutral-quaternary;
            padding: 1.25rem 2rem;

            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mobile-styles {
                padding: 1rem;
            }

            .password-generator__strength-status-text,
            .password-generator__strength-status-indicator {
                text-transform: uppercase;
                font-weight: $font-weight-bold;
            }

            .password-generator__strength-status-text {
                font-size: $font-size-base;
                color: $color-neutral-secondary;
            }

            .password-generator__strength-status-indicator {
                font-size: $font-size-heading-medium;
                color: $color-neutral-tertiary;

                display: flex;
                align-items: center;
                gap: 1rem;

                @include mobile-styles {
                    font-size: $font-size-base;
                }

                .password-generator__indicator-boxes {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .password-generator__indicator-box {
                        width: 10px;
                        height: 28px;
                        border: 2px solid $color-neutral-tertiary;
                        transition: all 300ms ease-in-out;

                        &.fill-too-weak {
                            background-color: $color-secondary;
                            border: 2px solid $color-secondary;
                        }

                        &.fill-weak {
                            background-color: $color-tertiary;
                            border: 2px solid $color-tertiary;
                        }

                        &.fill-medium {
                            background-color: $color-quaternary;
                            border: 2px solid $color-quaternary;
                        }

                        &.fill-strong {
                            background-color: $color-primary;
                            border: 2px solid $color-primary;
                        }
                    }
                }
            }
        }

        .password-generator__generate-btn {
            width: 100%;
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;

            font-size: $font-size-base;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            border: none;
            padding-block: 1.07rem;
            border: 2px solid transparent;
            background-color: $color-primary;

            transition: all 200ms ease-in-out;
            cursor: pointer;

            @include mobile-styles {
                margin-top: 1rem;
                padding-block: 1.125rem;
                font-size: $font-size-small;
                gap: 1rem;
            }

            .password-generator__generate-icon {
                fill: #24232C;
                transition: all 200ms ease-in-out;
            }

            &:hover {
                background-color: transparent;
                color: $color-primary;
                border: 2px solid $color-primary;

                .password-generator__generate-icon {
                    fill: $color-primary;
                }
            }
        }
    }

    .error-message {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4rem;

        text-align: center;
        color: $color-secondary;

        transition: opacity 200ms ease-in-out;

        &.hidden {
            opacity: 0;
        }
    }
}